<?xml version="1.0"?>
<!--
/**
 * Copyright © Rob Aimes - https://aimes.dev/
 * https://github.com/robaimes
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- API Definitions -->
    <preference for="Aimes\CheckoutDesigns\Api\CheckoutDesignInterface"
                type="Aimes\CheckoutDesigns\Model\CheckoutDesign"/>

    <!-- Add available designs here -->
    <type name="Aimes\CheckoutDesigns\Model\Config\Source\CheckoutDesigns">
        <arguments>
            <argument name="designs" xsi:type="array">
                <item name="one_step" xsi:type="object">
                    Aimes\CheckoutDesigns\Model\Checkout\Design\OneStep
                </item>
                <item name="three_step" xsi:type="object">
                    Aimes\CheckoutDesigns\Model\Checkout\Design\ThreeStep
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Declare a virtualType to create a design from the base model -->
    <virtualType name="Aimes\CheckoutDesigns\Model\Checkout\Design\OneStep"
                 type="Aimes\CheckoutDesigns\Model\CheckoutDesign">
        <arguments>
            <argument name="code" xsi:type="string">one_step_checkout</argument>
            <argument name="name" xsi:type="string">One Step Checkout</argument>
            <argument name="layoutHandle" xsi:type="string">checkout_design_one_step</argument>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="defaultProcessor" xsi:type="object">
                    Aimes\CheckoutDesigns\Model\Checkout\Design\OneStep\LayoutProcessor
                </item>
            </argument>
            <argument name="configProviders" xsi:type="array">
                <item name="defaultProvider" xsi:type="object">
                    Aimes\CheckoutDesigns\Model\Checkout\Design\OneStep\ConfigProvider
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Aimes\CheckoutDesigns\Model\Checkout\Design\ThreeStep"
                 type="Aimes\CheckoutDesigns\Model\CheckoutDesign">
        <arguments>
            <argument name="code" xsi:type="string">three_step_checkout</argument>
            <argument name="name" xsi:type="string">Three Step Checkout</argument>
            <argument name="layoutHandle" xsi:type="string">checkout_design_three_step</argument>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="defaultProcessor" xsi:type="object">
                    Aimes\CheckoutDesigns\Model\Checkout\Design\ThreeStep\LayoutProcessor
                </item>
            </argument>
            <argument name="configProviders" xsi:type="array">
                <item name="defaultProvider" xsi:type="object">
                    Aimes\CheckoutDesigns\Model\Checkout\Design\ThreeStep\ConfigProvider
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
