<?xml version="1.0"?>
<!--
/**
 * Copyright © Rob Aimes - https://aimes.dev/
 * https://github.com/robaimes
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- API Definitions -->
    <preference for="Aimes\CheckoutDesigns\Api\CheckoutDesignInterface"
                type="Aimes\CheckoutDesigns\Model\CheckoutDesign"/>
</config>
