<?xml version="1.0"?>
<!--
/**
 * Copyright © Rob Aimes - https://aimes.dev/
 * https://github.com/robaimes
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--
     Unfortunately, we can't use a plugin due to setTitle() call in the checkout controller
     This internally calls $layoutUpdate->build() after which we can no longer add handles
     To work around this we're using this event

     See:
      * Magento\Checkout\Controller\Index\Index::L48
      * Magento\Framework\View\Page\Config::getTitle
     -->
    <event name="layout_load_before">
        <observer name="load_custom_checkout_layout"
                  instance="Aimes\CheckoutDesigns\Observer\CheckoutLoadBefore" />
    </event>
</config>
