<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="design"
                   translate="label"
                   type="text"
                   sortOrder="1"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Design / Layout</label>
                <field id="design"
                       translate="label"
                       type="select"
                       sortOrder="5"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Checkout Design</label>
                    <source_model>Aimes\CheckoutLayout\Model\Config\Source\CheckoutLayout</source_model>
                    <comment>Please consult your developer before changing this value</comment>
                </field>
            </group>
        </section>
    </system>
</config>
